{% extends "base.html" %}
{% block nav_projects %}active{% endblock %}

{% block subnav %}

    <ul class="subnav">
        <li><a href="/projects/leafs">LEAFS</a></li>
        <li><a href="/projects/coast">COAST</a></li>
        <li><a href="/projects/seed">SEED</a></li>
        <li><a href="/projects/bossa">BOSSA</a></li>
        <li><a href="/projects/waves">WAVES</a></li>
        <li class="active">BOS ME</li>

    </ul>

{% endblock %}

{% block content %}
<div class="content">
<h2>Blue Ocean Sciences Media Education <em>(BOS ME)</em></h2>
<span>Bringing Science to Life</span><p><img class="left project" src="/assets/i/unwrap.jpg" />
Through a dynamic media alliance, Blue Ocean Sciences Media Education
program, (BOS ME) , the world will be able to follow this media savvy team
of researchers daily, as they introduce complex scientific subjects to the
world through fun easy-to-understand webisodes, blogs, and online
question and answer sessions all displayed on the WAVES portion of the
BOS interactive website - Web Assisted Virtual Education Sustainability .
</p><p>
The BOS Me media group consist of Blue Ocean Productions, Cage Free
Productions, Highliner Studios and Blue Ocean Sciences (BOS).
Mentored by Dr. Dijanna Figueroa, narrator of James Cameron’s “Aliens of
The Deep”, and by BOS President Dr. Andrea Neal, the award-winning
environmental entrepreneur class from Santa Barbara High School’s Don’s
Net Café will introduce the Marine Debris Dream Team. Students will
interview these high level
researchers prior to and upon
return from the expedition.</p>
</div>
{% endblock %}
