{% extends "base.html" %}
{% block nav_projects %}active{% endblock %}

{% block subnav %}

    <ul class="subnav">
        <li><a href="/projects/leafs">LEAFS</a></li>
        <li><a href="/projects/coast">COAST</a></li>
        <li><a href="/projects/seed">SEED</a></li>
        <li class="active">BOSSA</li>
        <li><a href="/projects/waves">WAVES</a></li>
        <li><a href="/projects/bosme">BOS ME</a></li>

    </ul>

{% endblock %}

{% block content %}
<div class="content">
<h2>Blue Ocean Sciences Synthesis Alliance<em>(BOSSA)</em></h2>
<p>The primary goal of BOSSA is to foster scientific collaborations through the sharing of scientists, facilities, information, media, educational programs, and technologies. BOSSA will develop: large accessible databases of information, new equipment for monitoring and for remote sensing systems, and innovative solutions for environmental contaminants.  
</p>
</div>
{% endblock %}
