{% extends "base.html" %}
{% block nav_projects %}active{% endblock %}

{% block subnav %}

    <ul class="subnav">
        <li class="active">LEAFS</a></li>
        <li><a href="/projects/coast">COAST</a></li>
        <li><a href="/projects/seed">SEED</a></li>
        <li><a href="/projects/bossa">BOSSA</li>
        <li><a href="/projects/waves">WAVES</a></li>
        <li><a href="/projects/bosme">BOS ME</a></li>

    </ul>

{% endblock %}

{% block content %}
<div class="content">
<h2>Living Environmental Adaptable Floating Structures<em>(LEAFS)</em></h2>
<p>Partnering with Life Cube, www.lifecubeinc.com, the primary focuses for the LEAFS program will be environmentally sustainable disaster relief. LEAFS offers the perfect solution with a floating desalination greenhouse. This structure offers a unique balance between portability, functionality, and price. Due to rising sea levels caused by climate change, sustainable agriculture solutions need to be found and developed before it is too late.</p>
</div>
{% endblock %}
