{% extends "base.html" %}
{% block nav_projects %}active{% endblock %}

{% block subnav %}

    <ul class="subnav">
        <li><a href="/projects/leafs">LEAFS</a></li>
        <li><a href="/projects/coast">COAST</a></li>
        <li class="active">SEED</a></li>
        <li><a href="/projects/bossa">BOSSA</li>
        <li><a href="/projects/waves">WAVES</a></li>
        <li><a href="/projects/bosme">BOS ME</a></li>

    </ul>

{% endblock %}

{% block content %}
<div class="content">
<h2>System for Energy, Education and Development<em>(SEED)</em></h2>
<p>
Designed in partnership with Surfers Without Borders, SEED is series of pilot programs developed to test the feasibility of utilizing new pyrolysis technologies that convert waste plastic and organic matter into diesel fuel to assist in energy independence. This technology will result in the development of clean water, better economy for schools, and reduction of synthetic polymer (plastic) debris and pollution on islands and in developing countries. 
</p>
</div>
{% endblock %}
