{% extends "base.html" %}
{% block nav_projects %}active{% endblock %}

{% block subnav %}

    <ul class="subnav">
        <li><a href="/projects/leafs">LEAFS</a></li>
        <li><a href="/projects/coast">COAST</a></li>
        <li><a href="/projects/seed">SEED</a></li>
        <li><a href="/projects/bossa">BOSSA</a></li>
        <li class="active">WAVES</li>
        <li><a href="/projects/bosme">BOS ME</a></li>

    </ul>

{% endblock %}

{% block content %}
<div class="content">
<h2>Web Assisted Virtual Education Sustainability<em>(WAVES)</em></h2>
<span>Bringing Science to Life</span><p><img class="right project" src="/assets/i/fins.jpg" />
The WAVES site will enable people to interact with the Marine Debris Dream
Team and develop a connection to the members so as to learn firsthand
about the significant impact of marine debris -- along with what can be
accomplished to prevent, monitor, and reverse these detrimental trends.
Using Ojingo Labs award winning interactive maps that won the Google Hero
Award in 2009, BOS ME will showcase the scientists through webisodes by
world-renowned producers Jim Knowlton, Paul Lynch and Scott Walker.
</p>
</div>
{% endblock %}
