{% extends "base.html" %}
{% block nav_about %}active{% endblock %}
{% block content %}
<div class="content text-content">

<blockquote>The primary goal of BOS is to create a team of scientists who can address the needs
of the global community by conducting high-level research, sharing accurate scientific information,
creating effective educational materials and media communications regarding the health of our oceans.
As an independent vector facilitating these collaborations, BOS can promote and implement partnerships
that would not normally be developed or realized.</blockquote>

    <div id="tabs">
        <div class="tab-nav-container">
        <ul>
            <li><a href="#board">Board of Directors</a></li>
            <li><a href="#advisors">Advisors</a></li>
            <li><a href="#partners">Partners</a></li>
        </ul>
        </div>
        <div id="board">
            <img src="/assets/i/board_800.png" width=800 />
            <ul id="members">
                <li><span class="name">Andrea Neal, Ph.D.</span><em> (President)</em> &mdash; With a Ph.D. in Molecular Genetics and Lipid Biochemistry, Dr. Andrea Neal has over13 years of experience in management of large-scale international projects, environmental campaigns, and scientific research. In addition, she is the Science Advisor for Jean-Michel Cousteau’s Ocean Futures Society as well as the Principal Investigator for Project Kaisei.
                </li>
                <li><span class="name">Gordon Neal, Ph.D., EE</span><em> (Vice President and Acting Director of Technology Development)</em> &mdash; Dr. Gordon Neal has over 45 years experience in the area of Avionics.  He has been a Vice President of Engineering at two companies, a chief Technical Officer, and a Director of Avionics.  Under his direction he has developed digital autopilots, liquid crystal displays, digital sensor systems, ATF avionics, B2 Avionics, etc. Gordon has marketed theses and many other systems and certified them in many foreign countries.He is generally noted as a hands-on analytically based senior manager.
                </li>
                 <li><span class="name">Jerry Knotts</span><em> (Green Business Development)</em> &mdash; President/CEO of the California Coast Venture Forum and President of J.E. Knotts & Associates. Knotts has more than 30 years of successful experience in all sizes of low and hi-technology defense and aerospace companies. As a consultant, he serves on numerous corporate boards and provides strategic and financial planning services to small and medium sized companies.
                 </li>
                 <li><span class="name">Seba Sheavly</span><em> (Information Strategies)</em> &mdash; Founder and President of Sheavly Consultants, Inc.,Seba is an international marine debris expert with over 15 years working with the UN Environment Programme’s Regional Seas, Wider Caribbean Region.  In addition, Sheavly has worked with NOAA’s Marine Debris Program, the EPA Office of Water/OCPD and is the marine debris technical advisor for The Ocean Conservancy.
                 </li>
                 <li><span class="name">Janice Hall</span><em> (Strategic Marketing)</em> &mdash; President of Natural Network International.  Janice is a marketing, communication, media, and trends specialist in the areas of natural and environmental products and issues, Hall has 30 years expertise that includes business development and international event coordination. She has worked with various NGO’s on UN projects including the Earth Summit in Rio de Janeiro.
                 </li>
                 <li><span class="name">Randall E. Mielke, M.S.</span><em> (Imaging Technologies)</em> &mdash; Randall Mielke has over 14 years of experience managing many high-profile projects at both NASA and UCSB, Randall is an expert in Imaging, analyzing, and interpreting how life can survive in extreme environments.
                 </li>
                 <li><span class="name">Erika Raymond, Ph.D.</span><em> (BOSSA)</em> &mdash; Dr. Erika Raymond is a postdoctoral fellow in the Engineering Division at Monterey Bay Aquarium Research Institute.  With Ph.D. in Oceanography from Johns Hopkins University, she has over 12 years of experience in collaborative multidisciplinary research.  Her research interests involve the development of novel non-destructive methods for the sampling and observation of sensitive species in extreme and remote environments. She has lead numerous oceanographic expeditions and has had extensive experience with documentary film crews.
                 </li>
                 <li><span class="name">Dijanna Figueroa, Ph.D.</span><em> (WAVES)</em> &mdash; With a Ph.D. in Marine Science, Dr. Figueroa is an expert oceanographer who serves as lead of educational outreach at UCSB’s Coastal Long Term Ecological Research Project at the Marine Science Institute. She has over 10 years experience communicating ocean science in a variety of mediums such as classrooms, film, radio and television, including, James Cameron’s "Aliens of The Deep"
                 </li>
                 <li><span class="name">Jason Argyropoulos</span><em> (BOS ME)</em> &mdash; Through his company Tree Filmwork, Argyropoulos, has produced award winning promotional campaigns for Fox television, Fuel TV, Fox Soccer Channel, and Fox Sports International.  He has created music videos, PSA’s and promotional spots for clients including Universal, Bureau of Land Management, Secretly Canadian, and   the World Wildlife Fund to name a few.
                 </li>
                 <li><span class="name">Nicole Argyropoulos</span><em> (SEED)</em> &mdash; Ms. Argyopoulos is an environmental education specialist who has worked for distinguished think tanks and non-profit organizations such as The Rocky Mountain Institute, The Clinton Climate Initiative and Jean-Michel’s Cousteau’s Ocean Futures Society. 
                 </li>
                 <li><span class="name">Dennis Rogers</span><em> (COAST)</em> &mdash; Rogers has a B.A in Human Ecology from College of the Atlantic and is an alumnus of Seas Education Association. Running many marine education programs in the San Francisco Bay area he specializes in marine education, public outreach and curriculum development.
                 </li>
                 <li><span class="name">Michael Conner</span><em> (LEAFS)</em> &mdash; President and Inventor of Life Cube Conner is a life-long builder/inventor who creates products that fulfill basic human needs.
                 </li>
            </ul>
        </div>
        <div id="advisors">
            advis
        </div>
        <div id="partners">
        p
        </div>
    </div>

</div>
<script type="text/javascript">
$(function() {
    $("#tabs").tabs();
});
</script>
{% endblock %}
