{% extends "base.html" %}
{% block nav_home%}active{% endblock %}
{% block content %}
    <div class="content">
        <div class="header-image">
            <img src="/assets/i/net_skinny_blur.png" />
        </div>
        <div class="columns">
            <div class="left">
                <a href="/projects/loneranger"><h3>Lone Ranger Mission, Now Underway!</h3></a>
                <p>This month the BOS Marine Dream Team is headed across 3,000 miles of the Atlantic Ocean. Join the expedition as these internationally recognized scientists use cutting-edge technologies to hunt through sea trash for pollution solutions and innovative renewable energy sources. <a href="/loneranger">Learn More &raquo;</a>

                </p> 
                <object width="520" height="300" style="margin-left:10px;margin-top: 35px;display:block;"><param name="movie" value="http://www.youtube.com/v/b4USl7uROB4?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/b4USl7uROB4?fs=1&amp;hl=en_US&amp;color1=0x006699&amp;color2=0x54abd6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="520" height="300"></object>   
            </div>
            <div class="right">
                <h3>Explore BOS Projects</h3>
                <ul class="projects">

                    <li>&raquo;&nbsp;<a href="/projects/loneranger">Lone Ranger Mission</a>
                        <br />
                    <li>&raquo;&nbsp;<a href="/projects/waves">WAVES</a>
                        <br />
                        <span class="description">Web Assisted Virtual Education Sustainability</span>
                    </li>
                    <li>&raquo;&nbsp;<a href="/projects/bosme">BOS ME</a>
                        <br />
                        <span class="description">Blue Ocean Sciences Media Education Program</span>
                    </li>
                    <li>&raquo;&nbsp;<a href="/projects/bossa">BOSSA</a>
                        <br />
                        <span class="description">Blue Ocean Sciences Synthesis Alliance</span>
                    </li>
                    <li>&raquo;&nbsp;<a href="/projects/seed">SEED</a>
                        <br />
                        <span class="description">System for Energy, Education and Development</span>
                    </li>
                    <li>&raquo;&nbsp;<a href="/projects/coast">COAST</a>
                        <br />
                        <span class="description">Collaborative Ocean Ambassadors Super Team</span>
                    </li>
                    <li>&raquo;&nbsp;<a href="/projects/leafs">LEAFS</a>
                        <br />
                        <span class="description">Living Environmental Adaptable Floating Structures</span>
                    </li>
            

                </ul>
 
            </div>
        </div>
   
    </div>
    {% endblock %}
