{% extends "base.html" %}
{% block nav_projects %}active{% endblock %}

{% block subnav %}

    <ul class="subnav">
        <li><a href="/projects/leafs">LEAFS</a></li>
        <li><a href="/projects/coast">COAST</a></li>
        <li><a href="/projects/seed">SEED</a></li>
        <li><a href="/projects/bossa">BOSSA</a></li>
        <li><a href="/projects/waves">WAVES</a></li>
        <li><a href="/projects/bosme">BOS ME</a></li>

    </ul>

{% endblock %}

{% block content %}
<div class="content">
<h2>Projects</h2>

<h3>The Lone Ranger Mission: Creating A Lens Between Science And Society!</h3>
<p>
The Schmidt Ocean Institure (SOI)and Blue Ocean Sciences (BOS) are collaborating
on a marine debris expedition that will cross the Atlantic In January 2011. The 255
ft. Lone Ranger owned by the Institute will begin its journey in the Canary Islands,
and then progress over 3,000 nautical miles through the North Atlantic Gyre, the
Sargasso Sea and end in Bermuda on January 29.
</p><p><img src="/assets/i/boat.jpg" class="right project" />
The Marine Debris EliteTeam, a collaboration of internationally recognized
scientists, will be on board to analyze the impact of debris on ocean cycling systems (carbon), marine organisms, and
human beings. Leading oceanographers, top bio fuel specialists will study microbes eating plastics, and extreme
environment microbial scientists, as well as scientists who can sequence multiple species from harsh environments will
work closely with chemical analysis experts and people who understand microbe polymer interaction. This research
will be used in the development of new technologies to better monitor environmental contaminants in the world’s
oceans. The Team’s microbe experts will also be on the hunt for “biofuel candidates” that may provide innovative
solutions for ocean trash.</p>
<h4>Scientific Goals</h4>
<ul class="goals">
    <li>Study the distribution, physical characteristics and ecological consequences of marine debris pollution and other environmental contaminants concentrated on the surface in open ocean environments.</li>
<li>Analyze the impact of marine debris on ocean cycling systems (carbon), marine organisms, and human beings.</li>
<li>Assess populations of anaerobic microorganisms associated with plastic debris with the goal of determining the potential of anaerobic microbes decomposing plastics in extreme ocean environments.</li>
<li>Determine anaerobes with the potential to depolymerize the polymers and/or degrade low molecular-weight compounds derived from the polymers</li>
<li>Utilize novel technique of poised potential electrodes as an enrichment procedure to select for electrogenic bacteria from the environmental plastic particles. (Electrogenic bacteria, i.e. those capable of moving electrons to solid phase materials including electrodes have been described in many environments.)</li>
<li>Through total genome sequencing develop an understanding of the unique biology of this contaminated environment. </li>
</ul>
<p>The Blue Ocean Sciences Team will be conducting sampling utilizing both traditional methodologies as well as implementing new analytical techniques and environmental monitoring technologies. Our goal is to develop data on marine debris and environmental pollutants in the Atlantic Ocean and Sargasso Sea and test new monitoring assessment tools that can be utilized to evaluate the impacts of environmental pollutants on oceanic health. By working as a global scientific community on this project we can increase the rate of our understanding of these environmental pollutants so that we can have an accurate understanding that can be utilized suggestions for change, action and policy formation. </p>

<h4>Outreach Media Goals</h4>
<ul class="goals">
<li>Bring Science to Life through a dynamic media alliance, Blue Ocean Sciences Media Education program, (BOS ME).</li>
<li>Train scientists and marine practitioners in effective methods of communicating information in a manner that is comprehensible to all the various public stakeholders.</li>
<li>Introduce complex scientific subjects to the world through fun easy-to-understand webisodes, blogs, and online question and answer sessions.</li>
<li>Be a reliable source of information that have a solid grounding in the latest scientific research.</li>
<li>Groom future environmental leaders through real time interactions with scientific team.</li>
<li>Develop a connection between what the scientific community is researching, the information that is being disseminated to and by media to the public as a whole, and what policy makers are receiving to support their decision making processes. </li>
</ul>
<p>The BOS Me media group consist of Blue Ocean Productions, Cage Free Productions, Highliner Studios and Blue Ocean Sciences (BOS). Using Ojingo Labs award winning interactive maps that won the Google Hero Award in 2009, BOS ME will showcase the scientists through webisodes by world-renowned producers Jim Knowlton, Paul Lynch and Scott Walker. Mentored by Dr. Dijanna Figueroa, narrator of James Cameron’s “Aliens of The Deep”, and by BOS President Dr. Andrea Neal, the award-winning environmental entrepreneur class from Santa Barbara High School’s Don’s Net Café will introduce the Marine Debris Dream Team. The WAVES site will enable people to interact with the Marine Debris Dream Team and develop a connection to the members so as to learn firsthand about the significant impact of marine debris -- along with what can be accomplished to prevent, monitor, and reverse these detrimental trends. </p>

</div>
{% endblock %}
